@using GymSystemG02BLL.ViewModels.MembershipsViewModel
@model CreateMembershipViewModel

@{
    ViewData["Title"] = "Create Membership";
}
@if (TempData["Error"] != null)
{
    <div id="Alert" class="alert alert-danger alert-dismissible fade show">
        <i class="bi bi-check-circle-fill me-2"></i>
        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div style="border-color:#FA990C;" class="card p-4">
                <div class="card-header my-1 text-center border-0">
                    <h4 style="font-size:30px;" class="fw-bold bg-gray-100 ">@ViewData["Title"]</h4>
                </div>
                <hr />
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-5">
                            <label style="font-size:20px;" asp-for="MemberId" class="form-label ">Member</label>
                            <select asp-for="MemberId" asp-items="ViewBag.Members" class="form-select p-2">
                                <option value="">-- Select Member --</option>
                            </select>
                            <span asp-validation-for="MemberId" class="text-danger"></span>
                        </div>

                        <div class="mb-5">
                            <label style="font-size:20px;" asp-for="PlanId" class="form-label ">Plan</label>
                            <select asp-for="PlanId" asp-items="ViewBag.Plans" class="form-select p-2">
                                <option value="">-- Select Plan --</option>
                            </select>
                            <span asp-validation-for="PlanId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <button style="background-color:#FA990C;font-size:20px;border-radius:30px;" type="submit" class="btn btn-primary p-3 fw-bold">Create Membership</button>
                            <a asp-action="Index" style="border-radius:30px;" class="btn btn-secondary p-3 fw-bold">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }

}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const alertBox = document.getElementById("Alert");
        if (alertBox) {
            setTimeout(() => {
                alertBox.style.transition = "opacity 0.5s ease";
                alertBox.style.opacity = "0";
                setTimeout(() => alertBox.remove(), 500);
            }, 1500);
        }
    });
</script>